{{inject 'carouselPlayPauseButtonPlay' (lang 'carousel.play_pause_button_play')}}
{{inject 'carouselPlayPauseButtonPause' (lang 'carousel.play_pause_button_pause')}}
{{inject 'carouselPlayPauseButtonAriaPlay' (lang 'carousel.play_pause_button_aria_play')}}
{{inject 'carouselPlayPauseButtonAriaPause' (lang 'carousel.play_pause_button_aria_pause')}}

<button
    type="button"
    class="heroCarousel-play-pause-button js-hero-play-pause-button"
    aria-label="{{lang 'carousel.play_pause_button_aria_pause'}}"
>
    {{lang 'carousel.play_pause_button_pause'}}
</button>
